<nav class="navbar navbar-light navbar-expand-lg ">
  <div class="rectangle"></div>
  <div class="container">
    <div class="navbar-brand h1 p-5 text-light">Salon<br>Brahms</div>
    <button class="navbar-toggler navbar-toggle mb-5 me-5" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" aria-expanded="false" aria-label="Toggle navigation">
      <i class="material-icons"><span class="material-icons-outlined"> drag_handle </span></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-lg-5 mx-auto text-light text-center d-flex align-items-center">
        <li class="nav-item mx-4">
          <a class="nav-link" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">ÜBER SALON BRAHMS</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">GALLERIE</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">PRISE & BUCHEN</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">KONTAKT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header p-0 d-flex justify-content-center">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col">
          <div class="rectangle w-100 d-flex justify-content-end align-items-center p-5">
            <div><a class="h1 text-light" href="#">Salon<br>Brahms</a></div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="material-icons"><span class="material-icons-outlined">close</span></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="offcanvas-body d-flex align-items-center">
    <ul class="container d-flex flex-column align-items-center text-light ">
      <li class="text-light">
        <a href="#">HOME</a>
      </li>
      <li class="text-light">
        <a href="#">ÜBER SALON BRAHMS</a>
      </li>
      <li class="text-light">
        <a href="#">GALLERIE</a>
      </li>
      <li class="text-light">
        <a href="#">PRISE & BUCHEN</a>
      </li>
      <li class="text-light">
        <a href="#">KONTAKT</a>
      </li>
    </ul>
  </div>
</div>
