<div class="cover">
  <div class="__overlay pt-5">
    <div class="space pt-5">
        <div class="container pt-5">
          <div class="row pt-5">
            <div class="col-12 pt-5">
              <div class="subtitle h2 text-light pt-5">
                Kunst und Kultur<br>
                im Herzen Wiens
                <div class="cover__btns pt-5">
                    <button class="cover__btns--A me-2 mt-5">JETZT BUCHEN</button>
                    <button class="cover__btns--B mx-1">MEHR LESEN</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
